/.serverless
/.vscode
!/.gitignore
/build
/node_modules
/scripts/*.json
# Ignore any zip files
*.zip
*.DS_Store

#ignore output folder for csv
/src/comboTest/output/*

Info_Output.yml
dist
lib
.build
.idea
yarn-error.log
*.tgz

coverage
##############################
## local Development
##############################
serverless-output.yml
serverless-output.yaml
serverless_config.json
